.blog{

  background-color:#ffffff;
  border-radius:5px;
  margin-top:40px;
  padding:30px;


  small{
    font-size:10px;
    font-style:italic;

  }

  h1{
    font-size:25px;
    font-weight:bold;
  }



}
