<!DOCTYPE html>
<html ng-app="start">

  <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <!-- Core Libs -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

      <!-- Core Dependencies -->
      <link rel="stylesheet" href="dist/global.css" />

      <!-- Component -->
      <link rel="stylesheet" href="dist/component.css" />
      <script src="dist/component.js"></script>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>

  <body >

    <!-- Component Goes Here -->
    <blog></blog>

    <!-- This Starts The App -->
    <script>
      angular.module('start', 'blog']);
    </script>

    <!-- Prebundled Files-->

  </body>

</html>
