<!DOCTYPE html>
<html ng-app="start">

  <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

      <!-- Core Libs -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <script src="//assets.juicer.io/embed.js" type="text/javascript"></script>
      <link href="//assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
      <!-- Core Dependencies -->
      <link rel="stylesheet" href="dist/global.css" />

      <!-- Component -->
      <link rel="stylesheet" href="dist/component.css" />
      <script src="dist/component.js"></script>

  </head>

  <body class="dais">

  
    <!-- This Starts The App -->
    <script>
      angular.module('start', ['ja-footer']);
    </script>

    <!-- Prebundled Files-->
    <footer >
      <ja-footer></ja-footer>
    </footer>
  </body>

</html>
