sample {
  display: inline-block;
  width: 500px;
  height: 250px;
  background-color: tan;
  text-align: center;
  line-height: 250px;
  font-size: 30px;
  transition: all 0.8s ease; }


.blog {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 40px;
  padding: 30px; }
  .blog small {
    font-size: 10px;
    font-style: italic; }
  .blog h1 {
    font-size: 25px;
    font-weight: bold; }

.emailer {
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 40px;
  padding: 30px; }

.main_content .home_blurb {
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  .main_content .home_blurb a {
    font-size: 14px;
    text-decoration: none; }
  .main_content .home_blurb a:link {
    color: #FF0000; }
  .main_content .home_blurb a:visited {
    color: #00FF00; }
  .main_content .home_blurb a:hover {
    color: #FF00FF; }
  .main_content .home_blurb a:active {
    color: #0000FF; }

.main_content .sponsors {
  list-style: none; }
  .main_content .sponsors .sponsors-img {
    width: 170px;
    padding-bottom: 40px; }

.blog-news {
  text-align: left;
  font-size: 11px;
  color: black;
  text-decoration: none; }
  .blog-news h1 {
    text-align: left;
    font-size: 20px; }
  .blog-news .click-more {
    text-decoration: underline; }


.header {
  padding: 20px; }
  .header .logo {
    width: 200px; }
  .header .header_img {
    float: right; }

.header {
  padding: 20px; }
  .header .logo {
    width: 200px; }

.navigation {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px; }

.navbar {
  margin-bottom: 20px;
  overflow: visible; }
  .navbar .navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa; }
    .navbar .navbar-inner .nav {
      position: relative;
      left: 0;
      display: block;
      list-style: none;
      float: left;
      margin: 0 10px 0 0; }
      .navbar .navbar-inner .nav li {
        float: left; }
        .navbar .navbar-inner .nav li a {
          display: block;
          float: none;
          padding: 10px 15px 10px;
          color: #777;
          text-decoration: none;
          text-shadow: 0 1px 0 #fff; }

.package h2 {
  text-decoration: underline;
  font-size: 20px;
  color: #042b4e;
  padding-bottom: 5px; }

.package p {
  text-align: justify; }
