html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

html, body {
  height: 100%; }

header {
  background-color: white;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 170px; }

h2{
  font-size:22px;
  font-weight:bold;
}
nav {
  background-color: white; }

#main {
  overflow: auto;
  padding-bottom: 150px;
  position: relative;
  top: 170px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.mainview {
  background: url(img/wasatch.jpg) no-repeat center center fixed;
  padding-bottom: 200px;
  height: 100%;
  flex: 1; }
  .mainview .content-round-corners {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    flex: 1; }

.main_img_container img {
  margin-top: 20px;
  margin-bottom: 20px; }

.blog-img-landscape {
  width: 420px;
  float: left;
  padding: 20px;
  padding-bottom: 10px; }

.blog-img-portrait {
  width: 300px;
  float: left;
  padding: 20px;
  padding-bottom: 10px; }

.main_content {
  text-align: center;
  margin-top: 20px; }
  .main_content p {
    background-color: white;
    padding: 20px; }

.footer {
  position: relative;
  clear: both;
  padding-top: 10px;
  padding-bottom: 20px;
  bottom: 0px; }

footer {
  padding-top: 10px; }

.clear {
  clear: both; }
